# 配置文件
config/config.yml
config/telegram_token.txt
config/readwise_token.txt
config/transcribe_servers.json
config/openai_token-backup.txt
config/readwise_token-backup.txt
config/telegram_token-backup.txt
config/transcribe_servers-backup.json

# 数据目录
uploads/
videos/
models/
outputs/
firefox_profile/

# Python
__pycache__/
*.py[cod]
*$py.class

# 环境文件
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db

# 生成的镜像文件
*.tar


# 单元测试文件和脚本
build_images.ps1
test_subtitles.py
tests/
logseq-plugin-whisper-subtitles/
logseq-whisper-subtitles-server/
app/export_cookies.py
test_download.py
test_download2.py